
html {
  font-size: 16px;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 5rem;
  color: black;
}

section {
  margin: 2rem;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

li {
  font-size: 1rem;
  font-weight: bold;
}

.icon {
  color: white;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

footer {
  background-color: #560BE9;
}
