
html {
  font-size: 16px;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 5rem;
  color: black;
}

main {
    margin-top: 2rem;
}

.image {
  margin-top: 3rem;
}

section {
  margin: 2rem;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
}

li {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5rem;
}



.icon {
  color: white;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.instagram {
  color: #4f5bd5;


}



.zoom:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

footer {
  background-color: #560BE9;
}

@media only screen and (max-width:576px){

  html {
    object-fit: cover;
  }

  h1 {
    font-size: 3rem;

  }

img {
  object-fit: cover;
}

li {

}

}
