
html {
  background-color: black;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 4rem;
  color: white;
}

nav {background-color: black;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

body {
  background-color: black;
  border-color: pink;
}

head {
  margin-bottom: 2rem;
}

main {
  background-color: black;
}

.card {
  background-color: black;
  color: white;
}

.btn {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color:#560BE9;
  border-color: #560BE9;

}

.btn:hover {
  background-color:white;
  color: #560BE9;
  border-color: #560BE9;
}


p {
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: white;

}
.subheading {
  font-size: 2.5rem;
  margin: 2rem;
  background-color: #560BE9;

}

.text1 {
margin: 0.5rem;
}

.text2 p {
  margin-left: 2rem;
}

.carousel {

  margin-top: 1rem;
  width: 80%;
  height: 60%;
  margin-left: 7rem;

}

.icon {
  color: white;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

footer {
  background-color: #560BE9;
}


@media only screen and (max-width:576px){

  h1{
    font-size: 2rem;
  }


}
